aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.9.0
async-timeout==5.0.1
asyncio==3.4.3
attrs==21.2.0
Automat==20.2.0
Babel==2.8.0
bcrypt==3.2.0
blinker==1.9.0
cachetools==5.5.2
certifi==2020.6.20
chardet==4.0.0
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.4
configobj==5.0.6
constantly==15.1.0
cryptography==3.4.8
distro==1.7.0
docstring_parser==0.16
exceptiongroup==1.3.0
fastapi==0.115.12
Flask==3.1.1
frozenlist==1.6.0
google-api-core
google-auth==2.40.1
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-firestore
google-cloud-resource-manager
google-cloud-run
google-cloud-secret-manager
google-cloud-storage
google-crc32c
google-genai
google-resumable-media
googleapis-common-protos==1.70.0
grpc-google-iam-v1==0.14.2
grpcio
grpcio-status
h11==0.16.0
httpcore==1.0.9
httplib2==0.20.2
httpx==0.28.1
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.6.4
incremental==21.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
MarkupSafe==3.0.2
more-itertools==8.10.0
multidict==6.4.4
numpy==2.2.6
oauthlib==3.2.0
packaging==25.0
pexpect==4.8.0
propcache==0.3.1
proto-plus
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
pydantic==2.11.4
pydantic_core==2.33.2
PyHamcrest==2.0.2
PyJWT==2.3.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyrsistent==0.18.1
pyserial==3.5
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-magic==0.4.24
pytz==2022.1
requests==2.32.3
rsa==4.9.1
SecretStorage==3.3.1
service-identity==18.1.0
shapely==2.1.1
six==1.16.0
sniffio==1.3.1
ssh-import-id==5.11
starlette==0.46.2
Twisted==22.1.0
typing-inspection==0.4.0
typing_extensions==4.13.2
urllib3==1.26.5
uvicorn==0.34.2
wadllib==1.3.6
websockets==15.0.1
Werkzeug==3.1.3
yarl==1.20.0
zipp==1.0.0
zope.interface==5.4.0
